body {
    background-color: #181818;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

h1 {
    color: white;
    margin: 1rem 0;
}


div.lang img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

div.overview {
    overflow: auto;
    height: 210px;
}

div.full-star {
    color: yellow;
}

div.empty-star {
    color: white;
}